font-face
{
         font-family : "Triforce";
         src         : url(font/tryhard.ttf);
}

#arena {
	margin: 0 auto;
	margin-top: 50px;
	width: 240px;
	height: 400px;
}

body{
	background: #388e3c;
}

#game-canvas{
	border: 2px solid #1b5e20;
	opacity: 0;
	display: none;
}
#score{
	font: 46px Triforce;
	text-align: center;
	color: #ffea00;
	text-shadow: 2px 2px 4px rgba(0,0,80,1.0);

	opacity: 0;
	display: none;
	z-index: 1;
}

#level{
	font: 20px Triforce;
	text-align: right;
	color: #ffea00;
	margin-top: -1em;
	text-shadow: 2px 2px 4px rgba(0,0,80,1.0);

	opacity: 0;
	display: none;
	z-index: 1;
}

#livesID{
	position: absolute;
	margin-top: -1em;
	z-index: 1;
	color: #ffea00;
	text-shadow: 1px 1px 1px rgb(0,0,80);
	font: bold 20px Triforce;

	opacity: 0;
	display: none;
	z-index: 1;
}


#lives{
	position: absolute;
	margin-top: -1em;
	margin-left: 1.8em;
	z-index: 1;
	color: #ffea00;
	text-shadow: 1px 1px 1px rgb(0,0,80);
	font: bold 20px Triforce;

	opacity: 0;
	display: none;
	z-index: 1;
}

#fps{
	position: absolute;
	margin-top: -2em;
	z-index: 1;
	color: #ffea00;
	text-shadow: 1px 1px 1px rgb(0,0,80);
	font: bold 20px Triforce;

	opacity: 0;
	display: none;
	z-index: 1;
}

#toast{
	position: absolute;
	margin-left: 75px;
	margin-top: 100px;
	width: 100px;
	font: 20px Triforce;
	text-align: center;
	color: #ffea00;
	text-shadow: 1px 3px 2px rgb(0,0,0);

	transition: opacity 0.5s;
	opacity: 0;
	display: none;
	z-index: 1;
}

#instructions{
	margin-left: 155px;
	padding-left: 5px;
	padding-top: 10px;
	height: 2em;
	color: #ffea00;
	font-size: 0.95em;

	transition: opacity 5s;
	display: none;
	opacity: 0;
}

#copyright{
	float: right;
	margin-right: 2px;
	margin-top: -2.3em;
	padding: 2px;
	color: #ffea00;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
	font-size: 0.7em;

	transition: opacity 5s;
	display: none;
	opacity: 0;
}

#sound-and-music{
	position: absolute;
	margin-left: 5px;
	margin-top: 9px;
	color: #ffea00;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	background: rgba(0,0,0, 0.1);
	border:thin solid rgba(0,0,0, 0.2);
	border-radius: 5px;
	padding: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 0.9em;

	transition: opacity 5s;
	display: none;
	opacity: 0;
}

#loading{
	position: absolute;
	margin-top: 80px;
	width: 790px;
	font: 55px Triforce;
	text-align: center;

	transition: opacity 2.0s;
}

#loading-title{
	padding-left: 40px;
	padding-bottom: 30px;
	color: #ffea00;
	text-shadow: 2px 2px 4px rgb(0,0,0);

	transition: opacity 2.0s;
	display: none;
	opacity: 0;
}

.game-mobile-toast {
   position: absolute;
   border-radius: 10px;

   font: 30px fantasy;
   text-align: center;
   text-shadow: 1px 1px 1px rgb(0,0,0);

   color: yellow;

   transition: opacity 1s;

   display: none;
   z-index: 1; 
   opacity: 0;
}

#game-mobile-start-toast {
   width: 800px;
   height: 400px;
}

#game-mobile-welcome-toast {
   width: 800px;
   height: 400px;
}

.game-welcome-link {
   font: 40px fantasy;
   color: gold;
   text-shadow: 2px 2px 2px blue;
}

.game-welcome-link:hover {
   color: yellow;
}

#game-welcome {
   text-align: center;
   padding: 25px;
   margin-bottom: 30px;
   font: 36px fantasy;
   text-shadow: 1px 1px 1px black;
}

#game-welcome-instructions {
   font: 18px fantasy;
   text-shadow: 1px 1px 1px black;
   color: white;
}

#game-mobile-instructions {
   margin-left: 155px;
   padding-left: 5px;
   padding-top: 10px;
   height: 2em;

   color: #ff0;
   font-size: 0.95em;

   transition: opacity 5s;

   display: none;
   opacity: 0;
}